.box {
    border: 2px solid black;
    height: 400px;
    width: 50%;
    background-color: aquamarine;
    justify-content: center;
    align-items: center;

}

/* .box1 {
    background-color: aquamarine;
    height: 300px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10%; */


.img {
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 10px;
    margin-right: 10px; 
}

.p {
    margin-top: 15px;
    margin-left: 15px;
}

.box:hover {
    opacity: 0.7;

}

.img:hover {
    opacity: 0.7;
}